*{
  box-sizing: border-box;
}
body{
  background-image: url(./Component/wp2036927.jpg);
  height: 100vh;
}
section{
  width:80%;
  margin: 40px auto;
  background-color: rgba(119, 204, 157, 0.5);
  padding: 30px;
}
.h{
  color:  rgb(255, 255, 255);
  padding: 20px;
  width: 50%;
  margin: 20px auto ;
}
p{
  color:  rgb(255, 255, 255);
  padding: 20px;
  width: 50%;
  margin: 20px auto ;
  font-size: 25px;
  font-weight: 600;
}

/* form */

.formlist{
  width: 80%;
  margin: auto;
}
input{
  width: 80%;
  height: 30px;
  color:  rgb(12, 145, 34);
  font-size: 25px;
  font-weight: 600;
  margin: auto;
}
button{
  width: 18%;
  margin: 5px;
  padding: 4px;
  font-size: 18px;
  font-weight: 500;
  color: white ;
  background-color: rgb(12, 145, 34);
}
ul{
  width: 80%;
  margin: auto;
  padding: 2px 0 2px 2px;
}
li{
  list-style-type: none;
  margin: 15px auto;
}
span{
  width: 61%;
  color:  rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 600;
  display: inline-block;

}











@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
